.breadcrumb > li {
    line-height: 36px;
}
.breadcrumb {
    margin: 0px !important;
}
.search__container {
    float: right;
}
.search__title {
    font-size: 22px;
    font-weight: 900;
    text-align: center;
    color: #ff8b88;
}

.search__input {
    width: 100%;
    padding: 8px 24px;
    background-color: transparent;
    transition: transform 250ms ease-in-out;
    font-size: 14px;
    line-height: 18px;
    color: #575756;
    background-color: transparent;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: 95% center;
    border-radius: 50px;
    border: 1px solid #dadada;
    transition: all 250ms ease-in-out;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}

.search__input::placeholder {
    color: rgba(87, 87, 86, 0.8);
    text-transform: capitalize;
    letter-spacing: 1.5px;
}

.search__input:hover,
.search__input:focus {
    padding: 8px 0;
    outline: 0;
    border: 1px solid transparent;
    border-bottom: 1px solid #dadada;
    border-radius: 0;
    background-position: 100% center;
}

.credits__container {
    margin-top: 24px;
}

.credits__text {
    text-align: center;
    font-size: 13px;
    line-height: 18px;
}

.credits__link {
    color: #ff8b88;
    text-decoration: none;
    transition: color 250ms ease-in;
}

.credits__link:hover,
.credits__link:focus {
    color: rgb(191, 137, 135);
}
.resources .file .icon,
.resources .file .image,
.library .file .icon,
.library .file .image {
    max-height: 185px !important;
    min-height: 150px !important;
    text-align: center;
    line-height: 170px;
}
.library input[type="checkbox"],
.library input[type="radio"] {
    margin: 4px;
}
.library .dropdown-menu {
    top: 19px !important;
    left: auto !important;
    min-width: 100px !important;
    right: 5px;
}
.library .dropdown-toggle {
    position: absolute;
    right: 0;
}

/* resources */
.resources input[type="checkbox"],
.library input[type="radio"] {
    margin: 4px;
}
.resources .dropdown-menu {
    top: 19px !important;
    left: auto !important;
    min-width: 100px !important;
    right: 5px;
}
.resources .dropdown-toggle {
    position: absolute;
    right: 0;
}
.resources .file .icon i {
    color: #a94442;
}
.modal.modal-fullscreen {
    top: 0px !important;
}
.modal.modal-fullscreen .modal-dialog,
.modal.modal-fullscreen .modal-content {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
.modal.modal-fullscreen .modal-dialog {
    margin: 0;
    width: 100%;
    animation-duration: 0.6s;
}
.modal.modal-fullscreen .modal-content {
    border: none;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: inherit;
    -moz-box-shadow: inherit;
    -o-box-shadow: inherit;
    box-shadow: inherit;
}
.modal.modal-fullscreen.force-fullscreen .modal-body {
    padding: 0;
}
.modal.modal-fullscreen.force-fullscreen .modal-header,
.modal.modal-fullscreen.force-fullscreen .modal-footer {
    left: 0;
    position: absolute;
    right: 0;
}
.modal.modal-fullscreen.force-fullscreen .modal-header {
    top: 0;
}
.modal.modal-fullscreen.force-fullscreen .modal-footer {
    bottom: 0;
}
.modal.modal.modal-fullscreen .modal-body {
    background-color: #fff;
}
.resources .nav-download {
    text-align: right;
    margin: 0;
    padding: 0;
}
.resources .nav-download li {
    list-style: none;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
}
/* assignments */
.assignments .nav.nav-tabs {
    display: inline-block;
    margin: 0 auto;
}
.assignments .panel-default {
    padding: 10px;
    border: 1px solid #dadada;
    margin-top: 20px;
    border-radius: 5px;
}
.assignments .panel-heading-as {
    float: left;
    width: 100%;
    margin-bottom: 20px;
}
.assignments .assignment_status {
    float: left;
    width: 100%;
    margin-top: 15px;
}
.assignments .assignment_status .status {
    text-transform: capitalize;
}
.assignments .assignment_status .complete {
    color: #fff;
    width: 100%;
    padding: 2px;
    float: left;
    border-radius: 7px;
    text-transform: capitalize;
}
.assignments .date_status {
    float: left;
    width: 100%;
    border: 1px solid #dadada;
    padding: 2px;
    border-radius: 50px;
}
.assignments .date_status .date {
    color: #23527c;
}
.assignments .date_status .icon {
    border: 1px solid #dadada;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin: 6px auto;
    text-align: center;
}
.assignments .open {
    margin-top: 20px;
    display: inline-block;
    background: #eee;
    padding: 4px 31px;
    border-radius: 5px;
}
